/* ::  10.0 Contact Area CSS */
.footer-area {
    padding-top: 1rem;
    padding-bottom: 7rem;
    background-color: $mainBg;
    position: relative;
    color: $white;

    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/header-cloud.png);
        background-size: cover;
        background-position: bottom;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 104px;
    }
    .footer-area-title {
        margin-bottom: 0;
        padding-top: 1rem;
        padding-bottom: .5rem;
    }
    .footer-area-text-top {
        margin-bottom: .5rem;
        color: $white;
    }
    .footer-area-text {
        margin-bottom: 0;
        margin-top: 0;
        color: $white;
    }
    .nav {
        margin-left: 1rem;
        .nav-item {
            list-style: disc;
            
            .nav-link {
                padding: .1rem;
                color: rgba($white,.8);
                @include transition(500ms);

                &:hover,
                &:focus {
                    color: $white;
                    padding-left: .5rem;
                }
            }
        }
    }
    .footer-area-more {
        padding: .8rem 0 0 0;
        color: rgba($white,.8);
        float: right !important;
        @include transition(500ms);
        text-decoration: none;

        &:hover {
            color: $white;
            padding-left: .5rem;
        }
    }
    .footer-area-social {
        .nav {
            margin-left: 0;
            
            .nav-item {
                list-style: none;

                .nav-link {
                    padding: 0 .5rem;
                    font-size: 2rem;
                    color: rgba($white,.8);
                    @include transition(500ms);

                    &:first-child {
                        padding-left: 0;
                    }

                    &:hover,
                    &:focus {
                        color: $white;
                    }
                }
            }
        }
    }
    .footer-area-copy {
        position: absolute;
        bottom: 0;
        z-index: 1000;
        color: $dark;
        margin: 0 17%;

        i {
            color: $red;
        }
        a {
            color: rgba($dark,.8);
            @include transition(500ms);
            text-decoration: none;

            &:hover {
                color: $mainBg;
            }
        }
    }
}

