/* ::  0.5 Header Area CSS */
.header-area {
    background-color: $mainBg;
    color: $white;
    padding-top: 3rem;
    position: relative;
    z-index: -1;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/map.png);
        background-size: cover;
        background-position: center;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/header-cloud.png);
        background-size: cover;
        background-position: center;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 129px;
        @include media-breakpoint-between(xs, sm)  {
            height: 90px;
        }
    }
    .header-area-content {
        z-index: 10;
        padding-bottom: 8rem;
        @include media-breakpoint-between(xs, sm)  {
            padding-bottom: 5rem;
        }

        .header-area-main {
            margin-bottom: 0;
            text-transform: uppercase;
        }
        .header-area-title {
            margin-bottom: 1rem;
            text-transform: capitalize;
        }
        .header-area-text {
            color: $white;
            font-weight: 300;
        }
        .header-area-navbar {
            ul {
                li {
                    padding-left: .5rem !important;
    
                    i {
                        padding-right: .5rem !important;
                        color: $green;
                        font-size: 0.6rem;
                    }
                }
            }
        }    
    }
}