/* ::  0.2 Scroll Up CSS */

#scrollUp {
    position: fixed;
    right: 3%;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    bottom: 1rem;
    background-color: $dark; // Dark From bootstrap
    color:  $white;
    text-align: center;
    @include transition-duration(500ms); // From Custom Mixins
    border-radius: 0.25rem;
    z-index: 1000;

    &:focus,
    &:hover {
        background-color: $dark;
        color: $white;
    }
}