/* ::  0.3 Top Area CSS */
.top-area {
    padding: .5rem 0;
    background-color: $mainBg;
    z-index: 10;
    color:$white;
    font-weight: 300;
    @include media-breakpoint-down(xs) {
        display: flex;
    }

    .call-us,
    .mail-us {
        color: rgba($white, .9);
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1rem;
        @include transition-duration(500ms);

        &:hover,
        &:focus {
            text-decoration: none;
            color: $white;
        }
    }

    .top-area-icon {
        padding-right: .5rem;
    }
    .top-area-icon-text {
        @include media-breakpoint-between(xs, sm)  {
            display: none;
        }
        @include media-breakpoint-between(sm, md)  {
            display: none;
        }
        @include media-breakpoint-between(md, lg)  {
            display: inline-block;
            font-size: .9rem;
        }
    }
    .lang-area {

        .top-area-lang-img {
            margin-right: .5rem;
        }

        .top-area-lang-text {
            margin-right: .5rem;
        }
        
        .top-area-lang-icon {

        }
    }
}