// Blog Area Start 
section.blog
    .container
        .row
            .col-md-8
                article.blog-post.py-3.text-capitalize
                    .blog-image
                        img.img-fluid.w-100(src="./images/blog.png", alt="Blog")
                    .blog-title
                        h5.mt-2 Our awesome title for blog
                    .blog-auther.d-flex
                        p.fs-9.blog-post-meta
                            i.far.fa-calendar-alt.primary-color.pe-2
                            | 23 September 2021
                        p.fs-9.blog-post-meta.ms-5
                            i.fas.fa-user.primary-color.pe-2
                            | By : 
                            a(href="#") John Doe
                        p.fs-9.blog-post-meta.ms-5.d-xl-block.d-none
                            i.fas.fa-comments.primary-color.pe-2
                            | 7 Comments
                    .blog-content.mt-3
                        p Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                        a.btn.btn-astro.px-4.mt-3(href="single-blog.html") Read More
                article.blog-post.py-3.text-capitalize
                    .blog-image
                        img.img-fluid.w-100(src="./images/blog.png", alt="Blog")
                    .blog-title
                        h5.mt-2 Our awesome title for blog
                    .blog-auther.d-flex
                        p.fs-9.blog-post-meta
                            i.far.fa-calendar-alt.primary-color.pe-2
                            | 23 September 2021
                        p.fs-9.blog-post-meta.ms-5
                            i.fas.fa-user.primary-color.pe-2
                            | By : 
                            a(href="#") John Doe
                        p.fs-9.blog-post-meta.ms-5.d-xl-block.d-none
                            i.fas.fa-comments.primary-color.pe-2
                            | 7 Comments
                    .blog-content.mt-3
                        p Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                        a.btn.btn-astro.px-4.mt-3(href="single-blog.html") Read More
                article.blog-post.py-3.text-capitalize
                    .blog-image
                        img.img-fluid.w-100(src="./images/blog.png", alt="Blog")
                    .blog-title
                        h5.mt-2 Our awesome title for blog
                    .blog-auther.d-flex
                        p.fs-9.blog-post-meta
                            i.far.fa-calendar-alt.primary-color.pe-2
                            | 23 September 2021
                        p.fs-9.blog-post-meta.ms-5
                            i.fas.fa-user.primary-color.pe-2
                            | By : 
                            a(href="#") John Doe
                        p.fs-9.blog-post-meta.ms-5.d-xl-block.d-none
                            i.fas.fa-comments.primary-color.pe-2
                            | 7 Comments
                    .blog-content.mt-3
                        p Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                        a.btn.btn-astro.px-4.mt-3(href="single-blog.html") Read More
                article.blog-post.py-3.text-capitalize
                    .blog-image
                        img.img-fluid.w-100(src="./images/blog.png", alt="Blog")
                    .blog-title
                        h5.mt-2 Our awesome title for blog
                    .blog-auther.d-flex
                        p.fs-9.blog-post-meta
                            i.far.fa-calendar-alt.primary-color.pe-2
                            | 23 September 2021
                        p.fs-9.blog-post-meta.ms-5
                            i.fas.fa-user.primary-color.pe-2
                            | By : 
                            a(href="#") John Doe
                        p.fs-9.blog-post-meta.ms-5.d-xl-block.d-none
                            i.fas.fa-comments.primary-color.pe-2
                            | 7 Comments
                    .blog-content.mt-3
                        p Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                        a.btn.btn-astro.px-4.mt-3(href="single-blog.html") Read More
            .col-md-4
                .sidebar-slide.px-4
                    .sidebar-title
                        h5 Search Blog
                    .sidebar-content
                        form.input-group
                            input.form-control(type="search" placeholder="Search" aria-label="Search")
                            button.btn.btn-astro(type="submit") 
                                i.fas.fa-search.text-white

                hr.shadow.w-75.mx-auto.mt-4
                
                .sidebar-slide.px-4.mt-2
                    .sidebar-title
                        h5 Categories
                    .sidebar-content
                        ul.list-unstyled.mb-0
                            li
                                a(href="#") Graphic Design 
                                    span.float-end (3)
                            li
                                a(href="#") Video 
                                    span.float-end (7)
                            li
                                a(href="#") Audio 
                                    span.float-end (3)
                            li
                                a(href="#") Business 
                                    span.float-end (9)
                            li
                                a(href="#") Photography 
                                    span.float-end (5)
                            li
                                a(href="#") Web Design 
                                    span.float-end (11)
                            li
                                a(href="#") Media 
                                    span.float-end (6)

                hr.shadow.w-75.mx-auto.mt-4
                
                .sidebar-slide.px-4.mt-2
                    .sidebar-title
                        h5 Archives
                    .sidebar-content
                        ul.list-unstyled.mb-0
                            li
                                a(href="#") January 
                                    span.float-end (3)
                            li
                                a(href="#") February 
                                    span.float-end (7)
                            li
                                a(href="#") March 
                                    span.float-end (3)
                            li
                                a(href="#") April 
                                    span.float-end (9)
                            li
                                a(href="#") May 
                                    span.float-end (5)
                            li
                                a(href="#") June 
                                    span.float-end (11)
                            li
                                a(href="#") Avgust 
                                    span.float-end (7)
                            li
                                a(href="#") September 
                                    span.float-end (9)
                            li
                                a(href="#") October 
                                    span.float-end (5)
                            li
                                a(href="#") November 
                                    span.float-end (11)
                            li
                                a(href="#") December 
                                    span.float-end (6)

                hr.shadow.w-75.mx-auto.mt-4

// Blog Area End 