// Contact Form Start 
.contact-area-form
    .container
        h4.contact-area-form-title Send Mail To us

        form
            .row
                .col-md-6
                    label.form-label.float-start(for="") Name
                    input.form-control(type="text" placeholder="your name here" requird)
                .col-md-6
                    label.form-label.float-start(for="") Email
                    input.form-control(type="text" placeholder="your mail here" requird)
                .col-md-12.contact-area-form-text-area
                    label.float-start.form-label(for="") Message
                    textarea.form-control(placeholder="your message here" requird)
                    
                    button.btn.btn-astro(type="submit") Send Message
// Contact Form End  
