// Domin Features Start 
.domin-feature-area
    .container
        table.table.domin-feature-area-table
            thead
                tr
                    th Feature
                    th Basic
                    th Pro
                    th Prem
                    th Ultra

            tbody
                tr
                    td(scope="col") Banwidth
                    td Unlimited
                    td Unlimited
                    td Unlimited
                    td Unlimited
                    
                tr
                    td(scope="col") Storage
                    td 10 Gb
                    td 20 Gb
                    td 50 Gb
                    td 100 Gb

                tr
                    td(scope="col") Domains
                    td 2
                    td 5
                    td 10
                    td 20

                tr
                    td(scope="col") Root Acces
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success

                tr
                    td(scope="col") Wordpress Instalations
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success

                tr
                    td(scope="col") Cloud Database
                    td 
                        i.fas.fa-times.text-danger
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success

                tr
                    td(scope="col") Additional Cloud Server(s)
                    td 
                        i.fas.fa-times.text-danger
                    td 
                        i.fas.fa-times.text-danger
                    td 
                        i.fas.fa-check.text-success
                    td 
                        i.fas.fa-check.text-success

                tr
                    td(scope="col") Production Ready App
                    td 
                        i.fas.fa-times.text-danger
                    td 
                        i.fas.fa-times.text-danger
                    td 
                        i.fas.fa-times.text-danger
                    td 
                        i.fas.fa-check.text-success
                
// Domin Features End 