// Domin Area Start 
Section.domin-area
    .container
        h4.domin-area-text Check your domain name
        p.domin-area-title Enter the domain name to register or transfer

        .input-group
            input.form-control.col-md-8(type="search" placeholder="Check Your Domain" aria-label="Search")
            select.form-select#domin-select.col-md-1(name="domin")
                option(selected) .com
                option(value="1") .net
                option(value="2") .org
                option(value="3") .info
                option(value="4") .io
            button.btn.btn-danger.col-md-3(type="submit") Search Domin
// Domin Area End 