// Domin Table Start 
.domin-feature-area
    .container
        table.table.domin-feature-area-table
            thead
                tr
                    th(scope="col") Domin
                    th(scope="col") .com
                    th(scope="col") .net
                    th(scope="col") .org
                    th(scope="col") .biz
                    th(scope="col") Avilable

            tbody
                tr
                    td(scope="col") Yourdomin
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 
                        i.fas.fa-check.text-success
                tr
                    td(scope="col") Yourdomin
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 
                        i.fas.fa-times.text-danger
                tr
                    td(scope="col") Yourdomin
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 
                        i.fas.fa-check.text-success
                tr
                    td(scope="col") Yourdomin
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 
                        i.fas.fa-check.text-success
                tr
                    td(scope="col") Yourdomin
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 19,99$
                    td 
                        i.fas.fa-times.text-danger
// Domin Table End 
