// Header Area Start 
header.header-area
    .container
        .row.header-area-content
            .col-md-7
                h2.header-area-main Super fast servers
                h5.header-area-title safe, fast, and awesome Price
                p.header-area-text Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula

                // Header Area Navigation Start 
                .header-area-navbar
                    ul.list-unstyled
                        li
                            i.fas.fa-check
                            span.header-area-text Super Special Offer/$2,99/MO
                        li
                            i.fas.fa-check
                            span.header-area-text Unlimited Bandwidth and Space
                        li
                            i.fas.fa-check
                            span.header-area-text Daily Backups
                // Header Area Navigation End
            // Right Side Of Header Area Start 
            .col-md-5
                .header-area-img
                    img.img-fluid(src="./images/server.png", alt="Hero")
            // Right Side Of Header Area End
// Header Area End 