// Header Area Start 
header.header-area
    .container
        .header-area-content.text-center
            h4.header-area-title Our Blog
            p.header-area-text Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula
// Header Area End 