// Features Slide Start 
.our-features-area 
    .container
        .row
            // First Featuer 
            .col-sm-4
                .our-features-content
                    .our-features-icon
                        i.fas.fa-phone-alt
                    .our-features-content-slide
                        h6.our-features-content-slide-title Call For Support
                        p.our-features-content-slide-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
            // Seconde Featuer 
            .col-sm-4
                .our-features-content
                    .our-features-icon
                        i.fas.fa-trophy
                    .our-features-content-slide
                        h6.our-features-content-slide-title Best For Business
                        p.our-features-content-slide-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
            // Third Featuer 
            .col-sm-4
                    .our-features-content
                        .our-features-icon
                            i.fas.fa-radiation-alt
                        .our-features-content-slide
                            h6.our-features-content-slide-title Fully Support
                            p.our-features-content-slide-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit

// Features Slide End 