// Price Area Start 
section.price-area
    .container
        .row
            // First Card
            .col-lg-3.col-md-6
                .price-area-content
                    .card
                        .price-card-top
                            p.price-card-top-title Basic
                            p.price-card-top-title 9,99
                            p.price-card-top-title / mo

                        .card-body
                            .card-image
                                img.img-fluid.align-bottom(src="./images/s-server.png" alt="Server")

                            ul.price-area-navbar
                                li
                                    i.fas.fa-check
                                    span 10 GB Storage
                                li
                                    i.fas.fa-check
                                    span 500 Mail Accounts
                                li
                                    i.fas.fa-check
                                    span 10 Databases
                                li
                                    i.fas.fa-check
                                    span 512MB Rams
                            a.price-area-btn.btn.btn-astro.px-4(href="#") Buy Now
            // Seconde Card
            .col-lg-3.col-md-6
                .price-area-content
                    .card
                        .price-card-top
                            p.price-card-top-title Pro
                            p.price-card-top-title 19,99
                            p.price-card-top-title / mo

                        .card-body
                            .card-image
                                img.img-fluid.align-bottom(src="./images/s-server.png" alt="Server")

                            ul.price-area-navbar
                                li
                                    i.fas.fa-check
                                    span 20 GB Storage
                                li
                                    i.fas.fa-check
                                    span 1000 Mail Accounts
                                li
                                    i.fas.fa-check
                                    span 20 Databases
                                li
                                    i.fas.fa-check
                                    span 1 Gb Rams
                            a.price-area-btn.btn.btn-astro.px-4(href="#") Buy Now
            // Third Card
            .col-lg-3.col-md-6
                .price-area-content
                    .card
                        .price-card-top
                            p.price-card-top-title Prem
                            p.price-card-top-title 29,99
                            p.price-card-top-title / mo

                        .card-body
                            .card-image
                                img.img-fluid.align-bottom(src="./images/s-server.png" alt="Server")

                            ul.price-area-navbar
                                li
                                    i.fas.fa-check
                                    span 50 GB Storage
                                li
                                    i.fas.fa-check
                                    span 5000 Mail Accounts
                                li
                                    i.fas.fa-check
                                    span 50 Databases
                                li
                                    i.fas.fa-check
                                    span 2 Gb Rams
                            a.price-area-btn.btn.btn-astro.px-4(href="#") Buy Now
            // Four Card
            .col-lg-3.col-md-6
                .price-area-content
                    .card
                        .price-card-top
                            p.price-card-top-title Ultra
                            p.price-card-top-title 49,99
                            p.price-card-top-title / mo

                        .card-body
                            .card-image
                                img.img-fluid.align-bottom(src="./images/s-server.png" alt="Server")

                            ul.price-area-navbar
                                li
                                    i.fas.fa-check
                                    span 100 GB Storage
                                li
                                    i.fas.fa-check
                                    span 1000 Mail Accounts
                                li
                                    i.fas.fa-check
                                    span 100 Databases
                                li
                                    i.fas.fa-check
                                    span 4 Gb Rams
                            a.price-area-btn.btn.btn-astro.px-4(href="#") Buy Now
// Price Area End 