// Pricing Area Start
section.pricing-area
    .container
        .row
            .col-md-6
                img.img-fluid(src="./images/server-center.png", alt="Server")
            .col-md-6
                h2.hero-text.text-uppercase.mb-0 Super fast servers
                p.hero-desc Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula

                .hero-navbar.pt-3
                    ul.list-unstyled
                        li.ps-2.fs-9
                            i.fas.fa-check.pe-2.text-success.align-middle
                            | Super Special Offer/$2,99/MO
                        li.ps-2.fs-9
                            i.fas.fa-check.pe-2.text-success.align-middle
                            | Unlimited Bandwidth and Space
                        li.ps-2.fs-9
                            i.fas.fa-check.pe-2.text-success.align-middle
                            | Daily Backups     
// Pricing Area End