// Pricing Area Start
section.pricing-area
    .container
        .row
            .col-md-6
                img.img-fluid(src="./images/server-center.png", alt="Server")
            .col-md-6
                h2.hero-text.text-uppercase.mb-0 Super fast servers
                p.hero-desc Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula

                .hero-navbar.pt-3
                    ul.list-unstyled
                        li.ps-2.fs-9
                            i.fas.fa-check.pe-2.text-success.align-middle
                            | Super Special Offer/$2,99/MO
                        li.ps-2.fs-9
                            i.fas.fa-check.pe-2.text-success.align-middle
                            | Unlimited Bandwidth and Space
                        li.ps-2.fs-9
                            i.fas.fa-check.pe-2.text-success.align-middle
                            | Daily Backups     


        .row.header-area-content
            // Left Side Of Header Area Start 
            .col-md-5
                .header-area-img
                    img.img-fluid(src="./images/server.png", alt="Hero")
            // Left Side Of Header Area End

            // Right Side Of Header Area End
            .col-md-7
                h5.header-area-main Super fast servers
                p.header-area-text Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula

                // Header Area Navigation Start 
                .header-area-navbar
                    ul.list-unstyled
                        li
                            i.fas.fa-check
                            span.header-area-text Super Special Offer/$2,99/MO
                        li
                            i.fas.fa-check
                            span.header-area-text Unlimited Bandwidth and Space
                        li
                            i.fas.fa-check
                            span.header-area-text Daily Backups
                // Header Area Navigation End
            // Right Side Of Header Area End
// Pricing Area End