// Services Slide Start
.services-slide-area
    .container
        .row.services-slide-content
            // Left Side Of Services Slide  Area Start 
            .col-md-5
                .services-slide-img
                    img.img-fluid(src="./images/server-center.png", alt="Services")
            // Left Side Of Services Slide  Area End

            // Right Side Of Services Slide  Area End
            .col-md-7
                h4.services-slide-title Super fast servers
                p.services-slide-text Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula

                // Header Area Services Slide  Start 
                .services-slide-navbar
                    ul.list-unstyled
                        li
                            i.fas.fa-check
                            span.services-slide-text Super Special Offer/$2,99/MO
                        li
                            i.fas.fa-check
                            span.services-slide-text Unlimited Bandwidth and Space
                        li
                            i.fas.fa-check
                            span.services-slide-text Daily Backups
                // Header Area Services Slide  End
            // Right Side Of Services Slide  Area End
// Services Slide End