// Single Blog Area Start 
section.single-blog
    .container
        .row
            .col-md-8
                article.blog-post.py-3.text-capitalize
                    .blog-image
                        img.img-fluid.w-100(src="./images/blog.png", alt="Blog")
                    .blog-title
                        h5.mt-2 Our awesome title for blog
                    .blog-auther.d-flex
                        p.fs-9.blog-post-meta
                            i.far.fa-calendar-alt.primary-color.pe-2
                            | 23 September 2021
                        p.fs-9.blog-post-meta.ms-5
                            i.fas.fa-user.primary-color.pe-2
                            | By : 
                            a.auther-link(href="#") John Doe
                        p.fs-9.blog-post-meta.ms-5.d-xl-block.d-none
                            i.fas.fa-comments.primary-color.pe-2
                            | 7 Comments
                    .blog-content.mt-3
                        p Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                        p.mt-3 Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum.Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. DonecDonec sollicitudin molue in ipsum.onec sollicitudin molue in ipsum co

                        blockquote.mt-3
                            p.w-70.m-auto.primary-color " Duo magna cetero blandit at, argumentum vituperatoribus quo id, eirmod laoreet lobortis in cum. Ei vide habeo repudiare duo "

                        p.mt-3 Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ips
                        p.mt-3 Vivamus magonvallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum cosectetur sed, convallis at tellus. Donec sollicitudin molestie malesmolue in ips
                hr.shadow.mt-4.mb-4.w-50.mx-auto
                //  Social Media Comment Start 
                h5 4 Comments
                .social-blog-comment
                    .social-comment.d-flex.d-flex-row
                        .social-top.me-auto.ps-6
                            span.fs-9.blog-post-meta
                                i.fas.fa-user.primary-color.pe-2
                                | By : 
                                a(href="#") John Doe
                            span.fs-9.blog-post-meta.ms-4
                                i.far.fa-calendar-alt.primary-color.pe-2
                                | 23 September 2021
                            span.fs-9.blog-post-meta.ms-4.d-xl-block.d-none.float-end
                                i.fas.fa-clock.primary-color.pe-2
                                | At :
                                span.blog-time.primary-color.ps-1 20:34
                        .comment-replay.float-end.align-middle
                            span.fs-9.blog-post-meta.ms-4
                                i.fas.fa-comments.primary-color.pe-2
                                a(href="#") Replay
                    .social-comment-content.d-flex.mb-3
                        .social-image.rounded-circle.me-3.mt-4
                            img.img-fluid(src="./images/avatar.png", alt="Avatar")
                        .social-content.float-end
                            .blog-content.rounded.bg-light.mt-1
                                p.p-3 Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                .social-blog-comment.ms-5
                    .social-comment.d-flex.d-flex-row
                        .social-top.me-auto.ps-6
                            span.fs-9.blog-post-meta
                                i.fas.fa-user.primary-color.pe-2
                                | By : 
                                a(href="#") John Doe
                            span.fs-9.blog-post-meta.ms-4
                                i.far.fa-calendar-alt.primary-color.pe-2
                                | 23 September 2021
                            span.fs-9.blog-post-meta.ms-4.d-xl-block.d-none.float-end
                                i.fas.fa-clock.primary-color.pe-2
                                | At :
                                span.blog-time.primary-color.ps-1 20:34
                        .comment-replay.float-end.align-middle
                            span.fs-9.blog-post-meta.ms-4
                                i.fas.fa-comments.primary-color.pe-2
                                a(href="#") Replay
                    .social-comment-content.d-flex.mb-3
                        .social-image.rounded-circle.me-3.mt-4
                            img.img-fluid(src="./images/avatar.png", alt="Avatar")
                        .social-content.float-end
                            .blog-content.rounded.bg-light.mt-1
                                p.p-3 Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                .social-blog-comment
                    .social-comment.d-flex.d-flex-row
                        .social-top.me-auto.ps-6
                            span.fs-9.blog-post-meta
                                i.fas.fa-user.primary-color.pe-2
                                | By : 
                                a(href="#") John Doe
                            span.fs-9.blog-post-meta.ms-4
                                i.far.fa-calendar-alt.primary-color.pe-2
                                | 23 September 2021
                            span.fs-9.blog-post-meta.ms-4.d-xl-block.d-none.float-end
                                i.fas.fa-clock.primary-color.pe-2
                                | At :
                                span.blog-time.primary-color.ps-1 20:34
                        .comment-replay.float-end.align-middle
                            span.fs-9.blog-post-meta.ms-4
                                i.fas.fa-comments.primary-color.pe-2
                                a(href="#") Replay
                    .social-comment-content.d-flex.mb-3
                        .social-image.rounded-circle.me-3.mt-4
                            img.img-fluid(src="./images/avatar.png", alt="Avatar")
                        .social-content.float-end
                            .blog-content.rounded.bg-light.mt-1
                                p.p-3 Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
                hr.shadow.mt-4.mb-4.w-50.mx-auto
                //  Leave Comment Start 
                h5 Leave A Comment
                form
                    label.form-label.primary-color(for="") Name
                    input.form-control(type="text" placeholder="your name here" requird)

                    label.form-label.pt-2.primary-color(for="") Email
                    input.form-control(type="text" placeholder="your mail here" requird)

                    label.form-label.pt-2.primary-color(for="") Message
                    textarea.form-control(placeholder="your message here" style="margin-top: 0px; margin-bottom: 0px; height: 160px;" requird)
                                
                    button.m-auto.btn.btn-astro.px-5.my-5(type="submit") Send Message
                //  Leave Comment End
            .col-md-4
                .sidebar-slide.px-4
                    .sidebar-title
                        h5 Search Blog
                    .sidebar-content
                        form.input-group
                            input.form-control(type="search" placeholder="Search" aria-label="Search")
                            button.btn.btn-astro(type="submit") 
                                i.fas.fa-search.text-white

                hr.shadow.w-75.mx-auto.mt-4
                
                .sidebar-slide.px-4.mt-2
                    .sidebar-title
                        h5 Categories
                    .sidebar-content
                        ul.list-unstyled.mb-0
                            li
                                a(href="#") Graphic Design 
                                    span.float-end (3)
                            li
                                a(href="#") Video 
                                    span.float-end (7)
                            li
                                a(href="#") Audio 
                                    span.float-end (3)
                            li
                                a(href="#") Business 
                                    span.float-end (9)
                            li
                                a(href="#") Photography 
                                    span.float-end (5)
                            li
                                a(href="#") Web Design 
                                    span.float-end (11)
                            li
                                a(href="#") Media 
                                    span.float-end (6)

                hr.shadow.w-75.mx-auto.mt-4
                
                .sidebar-slide.px-4.mt-2
                    .sidebar-title
                        h5 Archives
                    .sidebar-content
                        ul.list-unstyled.mb-0
                            li
                                a(href="#") January 
                                    span.float-end (3)
                            li
                                a(href="#") February 
                                    span.float-end (7)
                            li
                                a(href="#") March 
                                    span.float-end (3)
                            li
                                a(href="#") April 
                                    span.float-end (9)
                            li
                                a(href="#") May 
                                    span.float-end (5)
                            li
                                a(href="#") June 
                                    span.float-end (11)
                            li
                                a(href="#") Avgust 
                                    span.float-end (7)
                            li
                                a(href="#") September 
                                    span.float-end (9)
                            li
                                a(href="#") October 
                                    span.float-end (5)
                            li
                                a(href="#") November 
                                    span.float-end (11)
                            li
                                a(href="#") December 
                                    span.float-end (6)

                hr.shadow.w-75.mx-auto.mt-4
// Single Blog Area End