/* ::  0.7 Domin Area CSS */
.domin-area {
    padding: 3rem 0;
    text-align: center !important;
    .domin-area-text {
        text-transform: capitalize;
        margin-bottom: 0;
    }
    .domin-area-title {
        color: $gray;
        padding-bottom: 1rem;
    }
    .btn {
        @include transition-duration(500ms);
    }
}