/* ::  0.7 Domin Area CSS */
.domin-area {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center !important;
    .domin-area-title {
        padding-top: 1rem;
        text-transform: capitalize;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
    .domin-area-text {
        color: $gray;
        padding-bottom: 1rem;
        padding-top: 0;
    }
    .btn {
        @include transition-duration(500ms);
    }
}
.domin-feature-area {
    padding-bottom: 2rem;
}