// Footer Area Start 
footer.footer-area
    .container
        .row
            .col-lg-3.col-md-6
                h6.footer-area-title  Menu
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link(href="#") Home
                    li.nav-item
                        a.nav-link(href="#") Services 
                    li.nav-item
                        a.nav-link(href="#") About
                    li.nav-item
                        a.nav-link(href="#") Blog
                    li.nav-item
                        a.nav-link(href="#") Contact
            .col-lg-3.col-md-6
                h6.footer-area-title  We Offer
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link(href="#") business hosting
                    li.nav-item
                        a.nav-link(href="#") private hosting
               
                h6.footer-area-title  Service
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link(href="#") First Service
                    li.nav-item
                        a.nav-link(href="#") Second Service
                    li.nav-item
                        a.nav-link(href="#") Third Service
            .col-lg-3.col-md-6
                h6.footer-area-title Our Blog
                p.footer-area-text-top Lorem Ipsum sample text
                p.footer-area-text Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan.
                a.footer-area-more(href="#") Read More
            .col-lg-3.col-md-6
                h6.footer-area-title  We Are Social
                .footer-area-social
                    ul.nav
                        li.nav-item
                                a.nav-link(href="#")
                                    i.fab.fa-facebook-square
                        li.nav-item
                            a.nav-link(href="#")
                                i.fab.fa-twitter-square
                        li.nav-item
                            a.nav-link(href="#")
                                i.fab.fa-google-plus-square
                        li.nav-item
                            a.nav-link(href="#")
                                i.fab.fa-youtube-square

        // Copywrite Text
        .footer-area-copy
            // Link back to can't be removed. Template is licensed under.
            p
                | Copyright ©
                script.
                    document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fa.fa-heart-o
                |  by 
                a(href='https://www.facebook.com/hamada.elasmer.14', target='_blank') Hamada-Elasmer
// Footer Area End 