// Navigation Area Start 
nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
        a.navbar-brand(href="#")
            img.img-fluid(src="images/logo.png" alt="Logo")
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle Navigation")
            span.navbar-toggler-icon

        .collapse.navbar-collapse#mainNav
            ul.navbar-nav
                li.nav-item
                    a.nav-link.active(href="index.html") Home
                li.nav-item
                    a.nav-link(href="services.html") Services
                li.nav-item
                    a.nav-link(href="about.html") About
                li.nav-item
                    a.nav-link(href="blog.html") Blog
                li.nav-item
                    a.nav-link(href="pricing.html") Pricing
                li.nav-item
                    a.nav-link(href="domin.html") Domin
                li.nav-item
                    a.nav-link(href="contact.html") Contact
                form.input-group
                    input.form-control(type="search" placeholder="Search" aria-label="Search")
                    button.btn.btn-danger(type="submit") 
                        i.fas.fa-search
// Navigation Area End 