// Top Area Start 
.top-area
    .container
        .row
            .col-md-4.col-sm-3.col-1
                a.call-us(href="tel:+201208855599")
                    span.top-area-icon
                        i.fas.fa-headphones-alt
                    span.top-area-icon-text
                        | Call Us: (+2) 12 088 555 99
            .col-md-4.col-sm-3.col
                a.mail-us(href="mailto:hamadaelasmer.1@gmail.com")
                    span.top-area-icon
                        i.far.fa-envelope
                    span.top-area-icon-text
                        | H-Elasmer@Gmail.com
            .col-md-4.col-sm-6.col
                .lang-area.text-end
                    span.top-area-lang-img
                        img(src="images/flag.png" alt="Flag")
                    span.top-area-lang-text
                        | Eng
                    span.top-area-lang-icon
                        i.fas.fa-angle-down
// Header Area End