-var pageTitle = "About Us";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include components/break-line
        
        include layout/contact-area
        include components/footer-area
        include components/foot