-var pageTitle = "About Us";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include partical/header-about
        include partical/services-slide-1
        include components/break-line
        include layout/our-features-area
        include partical/our-features-slide-1
        include partical/our-features-slide-2
        include components/break-line
        include layout/our-team-area
        include components/break-line
        include layout/our-company-area
        include components/break-line
        include components/footer-area
        include components/foot