-var pageTitle = "Blog";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include partical/header-blog

        include layout/blog-content
        include components/pagination
        include components/footer-area
        include components/foot