-var pageTitle = "Contact Us";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include partical/header-contact
        include layout/office-info
        include components/break-line
        include layout/map-area
        include partical/contact-area
        include components/footer-area
        include components/foot