-var pageTitle = "Domin";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include partical/header-domin

        include partical/domin-index
        
        include partical/domin-slide-2

        include components/break-line
        include partical/our-package-area
        include partical/price-index
        include components/break-line
        include partical/domin-area

        include partical/domin-slide-1
        include components/break-line

        include layout/contact-area
        include components/footer-area
        include components/foot