-var pageTitle = "Home";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include partical/header-index
        include layout/planes-area
        include components/break-line
        include partical/domin-index
        include partical/price-index
        include components/break-line
        include layout/contact-area
        include components/footer-area
        include components/foot