-var pageTitle = "Our Services";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include partical/header-services
        include partical/price-services
        include components/break-line
        include layout/services-area
        include components/break-line






        include layout/contact-area
        include components/footer-area
        include components/foot