-var pageTitle = "Our Services";
doctype html
html(lang='en')
    include components/head
    body
        include components/preloader
        include components/top-area
        include components/navbar
        include partical/header-services
        include partical/services-slide-1
        include components/break-line
        include partical/services-slide-2
        include components/break-line
        include partical/services-slide-3
        include components/break-line
        include layout/our-features-area
        include components/break-line
        include layout/contact-area
        include components/footer-area
        include components/foot