/* ::  9.0 Contact Area CSS */
.contact-area {
    padding: 3rem 0;
    text-align: center;

    .contact-area-title {
        text-transform: capitalize;
    }
    .contact-area-text {
        color: $gray;
        width: 90%;
        margin: 0 auto;
        font-weight: 300;
    }
    .contact-area-btn {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 1rem;
        @include transition-duration(500ms);
    }
}
.contact-area-form {
    padding-top: 1rem;
    text-align: center;

    .contact-area-form-title {
        padding-top: 1rem;
    }
    form {
        margin: 1rem 0 3rem 0;

        .contact-area-form-text-area {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .btn-astro {
            padding-left: 3rem;
            padding-right: 3rem;
            margin-top: 2rem;
        }
    }
}