// Main Color Root 
$gray: #637988;
$white:#fff;
$green: #3bd825;
// Main Backgroun & Main Color
$mainBg: #3369e7;
// Main Font
$astroFont:  'Kanit', sans-serif;

$font-family-sans-serif: $astroFont;
$font-weight-base: 300;
$btn-font-weight: 300;
$shadow: 0 2px 17px 3px rgba($gray, 0.2);