$mainBg: $pink;
$primary: $mainBg;

.break-line {
    box-shadow: $shadow;
    margin: 0 auto;
    width: 80% !important;
}
.btn-astro {
    color: $white !important;
    background-color: $mainBg;
    border: $mainBg;

    &:hover {
        background: rgba($mainBg, 0.8);
    }
}