// Main Color Root 
$gray: #637988;
$white:#fff;
$red: #dc3545;
$green: #3bd825;
// Main Font
$astroFont:  'Kanit', sans-serif;

$font-family-sans-serif: $astroFont;
$font-weight-base: 300;
$btn-font-weight: 300;
$shadow: 0 2px 17px 3px rgba($gray, 0.2);