// Contact Area Start 
section.contact-area
    .container
        h4.contact-area-title Feel free to contact us for custom plans
        p.contact-area-text Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Pellentesque in ipsum
        a.btn.btn-astro.contact-area-btn(href="#") Contact Us
// Contact Area End 