// Office Info Area Start 
section.office-info-area
    .container
        h4.our-package-area-title Office Info
        p.our-package-area-text Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
        .row
            // First Slide
            .col-sm-4
                .office-info-area-content
                    .our-office-icon
                        i.fas.fa-home
                    .office-info-area-content-slide
                        h6.office-info-area-content-title Address :
                        p.office-info-area-content-text Some Street , 20 , NY
                        p.office-info-area-content-text Some Street , 40 , LA
                        
            // Seconde Slide
            .col-sm-4
                .office-info-area-content
                    .our-office-icon
                        i.fas.fa-comment
                    .office-info-area-content-slide
                        h6.office-info-area-content-title Email : 
                        p.office-info-area-content-text yourmail@mail.com
                        p.office-info-area-content-text yourmail@mail.com

            // Third Slide
            .col-sm-4
                .office-info-area-content
                    .our-office-icon
                        i.fas.fa-phone-alt
                    .office-info-area-content-slide
                        h6.office-info-area-content-title Phone : 
                        p.office-info-area-content-text (00)11-234-567-89
                        p.office-info-area-content-text 11-234-567-890

// Office Info Area End 