// Our Company Area Start 
section.our-company-area
    .container
        h4.our-company-area-title Our Company

        .row.our-company-area-content
            // Left Side Of Our Company Area Start 
            .col-md-6
                .our-company-area-content-carusel
                    #ourCompany.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-inner
                                .carousel-item.active
                                    img.img-fluid(src="./images/blog.png" alt="Carousel")
                                
                                .carousel-item
                                    img.img-fluid(src="./images/blog.png" alt="Carousel")
                                
                                .carousel-item
                                    img.img-fluid(src="./images/blog.png" alt="Carousel")
                                
                                .carousel-item
                                    img.img-fluid(src="./images/blog.png" alt="Carousel")

                        a.carousel-control-prev(href="#ourCompany" role="button" data-bs-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.visually-hidden
                        a.carousel-control-next(href="#ourCompany" role="button" data-bs-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.visually-hidden
                
                        ol.carousel-indicators
                            li.active(data-bs-target="#ourCompany" data-bs-slide-to="0")
                            li(data-bs-target="#ourCompany" data-bs-slide-to="1")
                            li(data-bs-target="#ourCompany" data-bs-slide-to="2")
                            li(data-bs-target="#ourCompany" data-bs-slide-to="3")

            // Left Side Of Our Company Area End

            // Right Side Of Our Company Area End
            .col-md-6
                .our-company-right-side
                    p.our-company-right-side Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit am
                    p.our-company-right-side Suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.orem ipsum dolor si. 
                    p.our-company-right-side Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                    p.our-company-right-side Suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.orem ipsum dolor si. 
            // Right Side Of Our Company Area End

// Our Company Area End 