// Our Features Slide Start 
section.our-features-area
    .container
        h4.our-features-area-title Why we are best?
        // Features Slide Start 
        .row
            // First Featuer 
            .col-sm-4
                .our-features-content
                    .our-features-icon
                        i.fas.fa-cog
                    .our-features-content-slide
                        h6.our-features-content-slide-title Modern Technology
                        p.our-features-content-slide-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
            // Seconde Featuer 
            .col-sm-4
                .our-features-content
                    .our-features-icon
                        i.fas.fa-key
                    .our-features-content-slide
                        h6.our-features-content-slide-title Protected Servers
                        p.our-features-content-slide-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
            // Third Featuer 
            .col-sm-4
                        .our-features-content
                            .our-features-icon
                                i.fas.fa-shield-alt
                            .our-features-content-slide
                                h6.our-features-content-slide-title Fully Secured
                                p.our-features-content-slide-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
        // Features Slide Start 