// Our Team Area Start 
section.our-team-area
    .container
        h4.our-team-area-title The Team
        .row
            // First Card
            .col-lg-3.col-md-6
                .our-team-area-content
                    .card
                        .card-body
                            .card-image
                            
                            .our-team-card-info
                                h6.our-team-card-info-title John Doe
                                hr
                                p.our-team-card-info-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae bla
            // Seconde Card
            .col-lg-3.col-md-6
                .our-team-area-content
                    .card
                        .card-body
                            .card-image
                            
                            .our-team-card-info
                                h6.our-team-card-info-title John Doe
                                hr
                                p.our-team-card-info-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae bla
            // Third Card
            .col-lg-3.col-md-6
                .our-team-area-content
                    .card
                        .card-body
                            .card-image
                            
                            .our-team-card-info
                                h6.our-team-card-info-title John Doe
                                hr
                                p.our-team-card-info-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae bla
            // Four Card
            .col-lg-3.col-md-6
                .our-team-area-content
                    .card
                        .card-body
                            .card-image
                            
                            .our-team-card-info
                                h6.our-team-card-info-title John Doe
                                hr
                                p.our-team-card-info-text Curabitur aliquet quam id dui posu ere blandit.Curabitur ae bla

        p.our-team-area-text Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum

// Our Team Area End 