// Plans Area Start
section.plans-area
    .container
        h4.plans-area-title We have awesome plans and prices
        p.plans-area-text Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Pellentesque in ipsum

        .row
            .col-md-4
                .plans-area-content
                    i.fas.fa-tachometer-alt.fa-3x.plans-area-content-icon
                    h5.plans-area-content-title Fast Servers
                    p.plans-area-content-text Curabitur aliquet quam id dui posu ere blandit .Curabitur ae blandit
            .col-md-4
                .plans-area-content
                    i.fas.fa-question-circle.fa-3x.plans-area-content-icon
                    h5.plans-area-content-title Fully Support
                    p.plans-area-content-text Curabitur aliquet quam id dui posu ere blandit .Curabitur ae blandit
            .col-md-4
                .plans-area-content
                    i.fas.fa-lock.fa-3x.plans-area-content-icon
                    h5.plans-area-content-title Safe and Secure
                    p.plans-area-content-text Curabitur aliquet quam id dui posu ere blandit .Curabitur ae blandit
// Plans Area End