// Import Custom Variables File 
@import './custom/custom-variables';

// Import Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

// Import Fontawesome Files 
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';

// Required Bootstrap Files
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Optional Bootstrap Files 
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

// Import Custom Scss File 
@import './mixins/transintion';
@import './mixins/flex';

// Import Custom Classes File 
@import './custom/custom-classes';

// Import Style Scss File 
@import './components/preloader';
@import './components/scrollup';
@import './components/top-area';
@import './components/navbar';
@import './components/header-area';
@import './layout/plans-area';
@import './partical/domin-index';
@import './partical/price-index';
@import './layout/contact-area';
@import './components/footer-area';

// Import Partical Scss
@import './partical/services-slide';
@import './partical/our-features-slide';
@import './layout/our-team-area';
@import './layout/our-company-area';
@import './partical/our-package-area';
@import './layout/map-area';
@import './layout/office-info';
@import './layout/blog-area';
@import './components/pagination';

